<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
(function() {
    'use strict';

    angular.module('LunchCheck', [])
           .controller('LunchCheckController', LunchCheckController);

    LunchCheckController.$inject = ['$scope'];

    function LunchCheckController ($scope) {
        $scope.input = "";
        $scope.message = "";
        $scope.stack = function() {
            // already can access $scope.input
            // dont need to pass to stack()
            var array = $scope.input.split(',');

            // set $scope.message
            // instead of returning String
            if (array.length < 3) {
              $scope.message = "Enjoy";
           } else {
               $scope.message = "You gotta Stop boy!";
           }
       };
   }
})();

</script>
<body ng-app="LunchCheck">

  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>
        <div class="form-group" >
            <input id="lunch-menu" type="text"
                placeholder="list comma separated dishes you usually have for lunch"
                class="form-control" ng-model="input">
        </div>
        <div class="form-group">

        <button class="btn btn-default" ng-click="stack()">
          Check If Too Much
        </button>
      </div>
      <div class="form-group message" id="result">
          <!-- Your message can go here. -->
          {{message}}
      </div>
  </div>
</body>
</html>
